*__pycache__*
swin_unetr.tiny_5000ep_f12_lr2e-4_pretrained.pt
pretrained_models/swin_unetr.base_5000ep_f48_lr2e-4_pretrained.pt
DET0000101_avg.nii.gz
DET0000101_avg_seg.nii.gz
runs/
.vscode/
.ipynb_checkpoints/
__pycache__*
nohup.out
outputs/*
pretrained_models/*
*.pt
binary.npy
tensorboard.output.log
anaysis/
